# SEC  
USER_AGENT_SEC="<your-email>"

# LLM Endpoints
DEEPSEEK_API_KEY="<api_key>"

# Qdrant
QDRANT_HOST=qdrant 
QDRANT_PORT=6333
COLLECTION_NAME=aistockbroker

# Redis
REDIS_HOST=redis

# Vector config 
VECTOR_SIZE=1536

# Chunking config
CHUNK_SIZE=3500                 
OVERLAP_SIZE=200

# Embedding model
EMBEDDING_MODEL_OPENAI="text-embedding-3-small"

# Grafana Settings
GF_SECURITY_ADMIN_USER="<your-username>"
GF_SECURITY_ADMIN_PASSWORD="<your-password>"

# Influx Client Settings
INFLUXDB_URL=http://influxdb:8086/
INFLUXDB_TOKEN="<your-token>"
INFLUXDB_ORG="<your-organisation>"
INFLUXDB_BUCKET="<your-bucket-name>"
